
    <div role="tabpanel" class="tab-pane active in" id="home">
        <form id="pass" >
            <label>Confirm Old Password:</label><br>
            <input type="password" value=""  id="oldpass" required></br>
            <label>New Password:</label><br>
            <input type="password" value="" class="input-xlarge" id="newpass" req></br>
            <button type="button" class="btn btn-primary btn-sm" onclick="SubmitPasswordData()"> Submit!</button>
            <div>
            </div><br>
        </form>
    <a href="/MyProfile">Return</a>
    </div>

